= @skill.name

%hr

%table#users
  %thead
    %tr
      %td Name
      %td Contact
      %td Membership
      %td Last Engaged
      %td Last Login
      %td Options

  %tbody
    - @users.each do |user|
      %td= user.full_name
      %td= display_phone_numbers(user)
      %td= display_time(user.memberized_at)
      %td= display_time(user.last_engaged_at)
      %td= display_time(user.last_logged_in_at)
      %td= display_options(user)